MONGODB = <-- mongo db link -->
# PORT = 3000
DYNAMODB_LOCAL_ENDPOINT=http://localhost:8000
JWT_SECRET_KEY="flostat#JWT#SECTET#KEY"
AWS_REGION="local"
USER_TABLE="Users"
OTP_TABLE="OtpTable"
USER_ORG_ROLE="UserOrgRole"
ORG_TABLE="OrgTable"
DEVICE_TABLE="deviceTable"
DEVICE_STATUS_TABLE="DeviceStatus"
DEVICE_TOKEN_TABLE="DeviceTokensTable"
BLOCK_TABLE="BlockTable"
LOGS_TABLE="AWS_LogsTable_Table"
VALVE_SCHEDULES="ValveSchedules"
CUSTOMER_QUERY="CustomerQuery"
IS_OFFLINE="true"

# AWS Credentials - Replace with your actual credentials
# NEVER commit real credentials to version control
AWS_ACCESS_KEY_ID=<-- aws access key -->
AWS_SECRET_ACCESS_KEY=  <-- aws secret key -->